#header3 {
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;

  >div {
    >input {
      background: transparent;
      border: solid 1px black;
    }

    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  }
  >div:first-of-type {
    text-align: left;
    background-color: transparent;
    flex-grow: 3;
  }
}
