#magic {
  .level {
    border: solid 1px black;
    margin: 5px;
    padding-bottom: 5px;
  }

  .spell {
    display: flex;
    align-items: center;
  }

  .spelllevel {

    input {
      width: 60px;
    }
    input:first-of-type {
      width: 20px;
    }
  }
}
