#magic {
  .level {
    border: solid 1px black;
    margin: 5px;
    padding-bottom: 5px;
  }

  .spell {
    display: flex;
    align-items: center;
    
    input:nth-of-type(2) {
      width: 85%;
    }

    div {
      width: 85%;
    }
  }

  .spelllevel {

    input {
      width: 90px;
    }
    input:first-of-type {
      width: 30px;
    }
  }
}
