#magic {
  .level {
    margin: 5px;
    padding-bottom: 5px;
  }

  .spell {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    >.name {
      width: 80%;
    }

    >.minus, >.plus {
      cursor:pointer;
    }
    >.plus{
      font-size:1.5rem;
      color:green;
      &:after { content:"+" }
    }
    >.minus{
      font-size:2rem;
      color:red;
      &:after { content:"-" }
    }
  }

  .spelllevel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .ct {
      width: 30%;
    }
  }
}
