.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.25);
}

#modal {
  position: fixed;
  top: 5rem;
  height: 80%;

  width: 80%;
  left: 10%;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.46);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.46);
  overflow-y: auto;
  border-radius: 8px;
}

#root {
  display: flex;
  align-content: center;
  flex-direction: column;
  font-size: 1.5rem;

  .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem 10rem;
    align-items: flex-end;
  }

  .title {
    // background-color: black;
    // color:lightsteelblue;
    margin:0px;
    padding:1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1rem;
    margin:4px;
  }

  .title.error {
    color: red;
  }

  .developer-notes-container {
    display: contents;
    >p {
      display: contents;
    }
    &:hover {
      display: initial;
      >p {
        display: initial;
      }
      .developer-notes {
        opacity: 1;
        height: auto;
        width: auto;
        padding: 0rem 4rem;
      }
    }
    .developer-notes {
      width: 0px;
      opacity: 0;
      height: 1rem;
      overflow: hidden;
    }
  }
}
