#sheet {
  width: 850px;
  float: right;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.25);
  height: 100vh;
  padding: 20px;

  table {
    width: 100%;
    text-align: left;
    font-size: 8px;

    td.tt {border-top: double;}
    td.t {border-top: solid 1px;}
    td.ll {border-left: double;}
    td.l {border-left: solid 1px;}
    td.rr {border-right: double;}
    td.r {border-right: solid 1px;}
    td.bb {border-bottom: double;}
    td.b {border-bottom: solid 1px;}

    .input-field {
      line-height: 1rem;
      font-size: 10px;
      border: 0px;
      border-bottom: solid 1px lightgray;
      width: 100%;
      background-color: transparent;
    }
  }
}
