#personalitytraits, #ideals, #flaws, #featuresandtraits, #bonds, #proficienciesandlanguages, #apperance, #backstory, #allies, #addl, #treasure {
  font-size: 10px;
  margin-top: 10px;
  textarea {
    width: 95%;
  }
}

#apperance {
  border: solid 2px black;
}
