html, body {
  margin: 0px;
  font-size: 12px;
}

.bold {
  font-weight: 900;
}

input, textarea {
  background-color: rgba(211, 211, 211, 0.25);
  border: 0px;
  font-size: 12px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  margin: 0px 2px 2px;
}

@import 'base-min';
@import 'grids-min';
@import 'grids-responsive-min';

@import 'Headers';
@import 'Magic';
@import 'ZText';
@import 'Ability';
@import 'Skills';
@import 'Loading';
@import 'Attacks';
@import 'Equiptment';
@import 'Menu';
@import 'Modal';
