html, body {
  margin: 0px;
  font-size: 12px;
}

input, textarea {
  background-color: rgba(211, 211, 211, 0.25);
  border: 0px;
  font-size: 12px;
}

@import 'base-min';
@import 'grids-min';
@import 'grids-responsive-min';

@import 'Headers';
@import 'Magic';
@import 'ZText';
@import 'Ability';
@import 'Skills';
@import 'Loading';

// @import 'Attacks';
// @import 'Equiptment';
// @import 'Sheet';
// @import 'TextField';
// @import 'Root';

// #deathsaves, #hitdie, #backstory, #allies, #addl, #treasure, #attacks, #equiptment, #featuresandtraits, #flaws, #personalitytraits, #ideals, #bonds, #proficienciesandlanguages {
//   border: solid 1px black;
//   border-left: double;
//   border-right: double;
//   padding: 1px;
// }
